body
	{font-family:Verdana,sans-serif;}
.wait, .wait *
	{cursor:progress !important;}
.error
	{color:#CE2045;}

table#page-structure
	{width:100%; height:100%;}

/* page structure table sections */
#page-structure > thead
	{white-space:nowrap; font-size:16px; color:white;}
#page-structure > tbody
	{background-color:white;}
#page-structure > tfoot
	{font-size:11px; line-height:13px; color:white; background-color:#2a333b;}

/* page structure table rows */
#page-structure > thead > tr:first-child
	{background-color:#0D7CC1; line-height:1px;}
#page-structure > thead > tr:last-child
	{background-color:#A91D37;}
#page-structure > *:not(tbody) > tr
	{height:1px;}

/* page structure table cells */
#page-structure > thead > tr > td
	{vertical-align:top;}
#page-structure > thead > tr > td *
	{vertical-align:inherit;}
#page-structure > thead > tr:first-child > td:last-child
	{text-align:right;}
#page-structure > thead > tr:last-child > td
	{text-align:center;}
#page-structure > tbody > tr > td
	{text-align:center; padding:1em;}
#page-structure > tfoot > tr > td
	{text-align:center; padding:8px;}

/* header links */
#page-structure > thead a
	{display:inline-block; margin:0; color:inherit;}
#page-structure > thead a:hover
	{text-decoration:none;}
#page-structure > thead > tr:first-child a
	{padding:0 2em; line-height:80px;}
#page-structure > thead > tr a:hover:not(#home-link)
	{background-color:#CE2045;}
#page-structure > thead > tr:last-child a
	{padding:0 2em; line-height:50px;}

/* footer links */
#page-structure > tfoot a
	{color:inherit;}
#page-structure > tfoot a:hover
	{text-decoration:underline; color:white;}
#page-structure > tfoot a#privacy-policy-page-footer-link
	{font-size:14px; position:absolute; right:0.5em; padding:1em 1.5em; border-radius:20px;}
#page-structure > tfoot a#privacy-policy-page-footer-link:hover
	{text-decoration:none; background-color:black;}

/* page structure texts */
#page-structure > tfoot #footer-copyright-notice
	{display:inline-block; text-align:left; max-width:10in; margin:auto;}

/* #login-widget */
#login-widget
	{text-align:left; color:black;}
#login-links-container
	{line-height:28px;}
#login-widget-forms-container form
	{padding:10px 20px 12px 20px; position:absolute; right:1em; z-index:100; box-shadow:-2px 2px 10px 0px #bbb;
	font-size:11px; font-weight:normal; font-family:"Verdana","Open Sans",sans-serif; background-color:papayawhip; border:4px outset papayawhip; }
#login-widget-forms-container form .form-label
	{text-align:right; padding-right:3px;}
#login-widget #forgot-password-link
	{margin-left:25px; font-size:11px;}
#login-widget input[type=button]
	{font-size:11px; }
#login-widget td
	{position:relative; vertical-align:top;}
#login-widget h3
	{color:#555; font-size:18px; line-height:36px; text-align:center; margin:0 0 5px 0;}
#login-widget #login-button-container
	{text-align:right;}
#login-widget #login-button
	{min-width:84px;}
#remember-me-checkbox-label
	{white-space:pre;}

