#privacy-policy-text
	{display:inline-block; font-size:14px; line-height:21px; max-width:640px; text-align:justify;}

#privacy-policy-text h3
	{background-color:#2a333b; color:white; padding:2px 8px; font-size:14px;}

#privacy-policy-text ul
	{list-style-type:circle; padding-left:1.5em;}

#privacy-policy-text ul > li
	{margin:1em 0;}

#privacy-policy-text a
	{color:inherit; text-decoration:underline;}
