main article
	{display:inline-block; font-size:14px; line-height:21px; max-width:640px; text-align:justify;}

main article h3
	{background-color:#2a333b; color:white; padding:2px 8px; font-size:14px;}

main article ul
	{list-style-type:circle; padding-left:1.5em;}

main article ul > li
	{margin:1em 0;}

main article a
	{color:inherit; text-decoration:underline;}
