main
	{display:inline-block; font-size:14px; line-height:21px; max-width:7.5in; text-align:justify;}

main h3
	{background-color:#2a333b; color:white; padding:2px 8px; font-size:14px;}

main ul > li
	{list-style-type:circle; margin:1em 0;}

main [itemtype="https://schema.org/Book"] > [itemprop="name"]
	{font-weight: bold;font-style: italic;}

main [itemtype="http://schema.org/Person"] > [itemprop="name"]
	{font-style: italic;}

main [itemtype="https://schema.org/Review"] > [itemprop="reviewBody"]
	{font-size: small;}
