#help-page-text
	{display:inline-block; font-size:14px; line-height:21px; max-width:7.5in; text-align:justify;}

#help-page-text h3
	{background-color:#2a333b; color:white; padding:2px 8px; font-size:14px; font-weight:bold;}
