body.wait, body.wait a, body.wait input
	{cursor:progress !important;}

#search-form-container
	{display:inline-block; vertical-align:top; margin:0 13px 27px 0;}
#search-form
	{display:inline-block; text-align:left;}
#search-form input[type=text]
	{height:18px; margin-top:1px; margin-bottom:1px; font-size:inherit;}
#search-form-submit-button
	{margin-top:10px;}

#personality-types-table
	{display:inline-block;}
#personality-types-table > tbody > tr > td
	{padding-right:5px;}

#search-results-container
	{text-align:center; position:relative; vertical-align:top; margin:0; padding:18px 0 0 11px; display:inline-block; min-width:514px;}
#search-results-container h3
	{font-size:21px; text-align:left; margin:10px 5px; line-height:30px; color:black;}
#search-results-list
	{text-align:left; position:relative; list-style-type:none; margin:0 0 4px 0; padding:0; border:1px solid saddlebrown;}
#search-results-list li
	{border-bottom:1px solid saddlebrown;}
#search-results-list li:last-child
	{border-bottom-style:none;}
#search-results-list a
	{padding:5px 5px; position:relative; display:block; white-space:pre; color:black; background-color:linen;}
#search-results-list a:hover
	{text-decoration:none; color:black; background-color:peachpuff;}
#search-results-list a > *
	{display:inline-block; vertical-align:middle;}
#search-results-list a .thumbnail-container
	{text-align:center; width:80px; height:80px; line-height:76px;}
#search-results-list a .user-description-container
	{display:inline-block; margin-left:8px;}
#search-results-list a .thumbnail-container img
	{vertical-align:middle;}

#pagination-container
	{text-align:left; font-size:14px; padding:0px; line-height:18px;}
#pagination-container > *
	{margin:0 3px; padding:2px; display:inline-block; vertical-align:middle;}
#pagination-container > #next-page-link
	{font-size:22px;}

#current-page-link
	{color:chocolate;}

.username
	{font-weight:bold; padding:2px;}


#match-shared-negatives-explanation, #toggle-type-checkboxes
	{color:midnightblue; font-size:11px; user-select:none; -moz-user-select:none; -ms-user-select:none;}
#toggle-type-checkboxes
	{margin-left:2.5em;}
#match-shared-negatives-explanation:hover
	{cursor:help;}
#toggle-type-checkboxes:hover
	{cursor:pointer;}

#number-of-matches
	{float:right; font-size:x-small;}

fieldset
	{border:1px solid #bbb; margin:0.5em 0;}

#search-page-container
	{text-align:left;}
